<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://i.imgur.com/a0GRnz0.png"  class="rounded" style="max-width: 30%; margin: 1em;" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->

      <form>
      <input type="text" id="Nombre" class="fadeIn third form-control" name="login" placeholder="Nombre">
      <input type="text" id="Cedula" class="fadeIn third form-control" name="login" placeholder="Cedula">  
      <input type="email" id="Cedula" class="fadeIn third form-control" name="login" placeholder="Email">  
      <input type="password" id="contraseña" class="fadeIn third form-control" name="login" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Registro">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="../login">Login</a>
      </div>
  
    </div>
  </div>